version: "2"
services:
  rabbit:
      image: rabbitmq@sha256:397382d2b222f3a298a6c74e93f348fb16f9a7fde2c02ba14122624d852daae3
      environment:
          - TZ=America/New_York
          - RABBITMQ_DEFAULT_USER=sfm_user
          - RABBITMQ_DEFAULT_PASS=password
  data:
      image: gwul/sfm-data:master
      volumes:
           - /sfm-data
      environment:
          - TZ=America/New_York
          - SFM_UID=900
          - SFM_GID=900
  weiboharvester:
      image: gwul/sfm-weibo-harvester:master
      links:
          - rabbit:mq
      volumes:
          - "..:/opt/sfm-weibo-harvester"
      volumes_from:
          - data
      environment:
          - TZ=America/New_York
          - WEIBO_ACCESS_TOKEN
          - SFM_REQS=master
          - RABBITMQ_USER=sfm_user
          - RABBITMQ_PASSWORD=password
          - DEBUG=true
          - HARVEST_TRIES=3
          - SFM_UID=900
          - SFM_GID=900
